<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <title>Joke Web Application</title>
</head>
<body style="background-color: #9eeeeb">
<header>
    <nav class="navbar navbar-light navbar-expand" style="background-color: #81e795;" >
        <div class="container-fluid">
            <a class="navbar-brand">Jokes Web App</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link">All Jokes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">General Jokes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Knock-Knock Jokes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Programming Jokes</a>
                </li>
            </ul>

        </div>

    </nav>
</header>




</body>
</html>